.link {
    transition: 0.4s ease;
    text-decoration: none;
    padding: 0 2px 0 2px;
    border-radius: 6px;
}

.link-blueberry {
    background-color: var(--blueberry-100);
    color: var(--black-300);
}

.link-blueberry:hover {
    background-color: var(--blueberry-300);
    color: var(--silver-100);
}

.link-blueberry:active {
    background-color: var(--blueberry-500);
    color: var(--silver-100);
}

.link-silver {
    background-color: var(--silver-300);
    color: var(--black-300);
}

.link-silver:hover {
    background-color: var(--silver-500);
    color: var(--silver-100);
}

.link-silver:active {
    background-color: var(--silver-700);
    color: var(--silver-100);
}
