:root {
    --strawberry-100: #ff8c82;
    --strawberry-300: #ed5353;
    --strawberry-500: #c6262e;
    --strawberry-900: #7a0000;
    --strawberry-700: #a10705;

    --orange-100: #ffc27d;
    --orange-300: #ffa154;
    --orange-500: #f37329;
    --orange-700: #cc3b02;
    --orange-900: #a62100;

    --banana-100: #fff394;
    --banana-300: #ffe16b;
    --banana-500: #f9c440;
    --banana-700: #d48e15;
    --banana-900: #ad5f00;

    --lime-100: #d1ff82;
    --lime-300: #9bdb4d;
    --lime-500: #68b723;
    --lime-700: #3a9104;
    --lime-900: #206b00;

    --mint-100: #89ffdd;
    --mint-300: #43d6b5;
    --mint-500: #28bca3;
    --mint-700: #0e9a83;
    --mint-900: #007367;

    --blueberry-100: #8cd5ff;
    --blueberry-300: #64baff;
    --blueberry-500: #3689e6;
    --blueberry-700: #0d52bf;
    --blueberry-900: #002e99;

    --grape-100: #e4c6fa;
    --grape-300: #cd9ef7;
    --grape-500: #a56de2;
    --grape-700: #7239b3;
    --grape-900: #452981;

    --bubblegum-100: #fe9ab8;
    --bubblegum-300: #f4679d;
    --bubblegum-500: #de3e80;
    --bubblegum-700: #bc245d;
    --bubblegum-900: #910e38;

    --cocoa-100: #a3907c;
    --cocoa-300: #8a715e;
    --cocoa-500: #715344;
    --cocoa-700: #57392d;
    --cocoa-900: #3d211b;

    --silver-100: #fafafa;
    --silver-300: #d4d4d4;
    --silver-500: #abacae;
    --silver-700: #7e8087;
    --silver-900: #555761;

    --slate-100: #95a3ab;
    --slate-300: #667885;
    --slate-500: #485a6c;
    --slate-700: #273445;
    --slate-900: #0e141f;

    --black-100: #666666;
    --black-300: #4d4d4d;
    --black-500: #333333;
    --black-700: #1a1a1a;
    --black-900: #000000;
}

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 900;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

p {
    font-size: 20px;
}

i {
    padding: 8px;

    /* Generally speaking, icons are typically always
    before text. i.e.

    <icon> <text>

    so we don't really need a left padding. */
    padding-left: 0;
}

code {
    /* Inter Mono isn't readily available yet
    but Roboto Mono pairs quite well with it */
    font-family: 'Roboto Mono', monospace;
    font-size: inherit;
}

.content-area {
    /* Centre vertically */
    display:flex;
    align-items: center;

    text-align: center;
    color: var(--black-100);
    padding: 64px 12px 64px 12px;
    height: auto;
}

@media (min-width: 768px) {
    .content-area {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.content-heading * {
    display: inline;
}

.content-description {
    text-align: justify;
}

@media (min-width: 768px) {
    .content-description {
        text-align: start;
    }
}

.card {
    margin: auto;
    max-width: 768px;
    border: 1px solid var(--silver-300);
    border-radius: 6px;
}

.card-source {
    font-size: 20px;
}

#intro-content-area {
    background: var(--grape-500);
    color: var(--silver-100);
    height: 100vh;
}

@media (min-width: 768px) {
    #intro-content-area {
        height: auto;
    }
}

#avatar-col {
    padding-top: 24px;
    padding-bottom: 24px;
}

@media (min-width: 768px) {
    #avatar-col {
        text-align: end;
    }
}

#description-col {
    padding-top: 24px;
    padding-bottom: 24px;
}

#description-col p {
    font-size: 24px;
}

@media (min-width: 768px) {
    #description-col {
        text-align: start;
    }
}

#details {
    font-weight: 500;
}

#contributor-row {
    margin-bottom: 24px;
}

#developer-row {
    margin-bottom: 64px;
}

#footer {
    color: var(--silver-100);
    background-color: var(--cocoa-100);
    height: auto;
}

#footer p {
    font-size: 18px;
}
